# Bot token used to authenticate to discord API
DISCORD_BOT_TOKEN=
# Slack webhook url used to send messages to a Slack channel
SLACK_WEBHOOK=
# Should this bot instance fire events for on_voice_state_update
ENABLE_VOICE_EVENTS=true
